/* Responsive CSS for CareerEx website */

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and font family */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height of the body to 100% of the viewport height */
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* Set a max-width for the main content container */
main {
  flex: 1; /* Allow main section to grow and take up remaining vertical space */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the header */
header {
  background-color: #f8f8f8;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the CareerEx logo */
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Style the navigation menu */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
}

nav ul li a.active {
  color: #333;
  font-weight: bold;
}

/* Style the hero section */
.hero-section {
  text-align: center;
  padding: 40px;
}

.hero-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 18px;
  color: #777;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: black;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #eeeeee;
}

/* Style the feature section */
.feature-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-box {
  flex: 0 0 300px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 16px;
  color: #777;
}

.ls-section {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

.ls-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label, input {
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  background-color: #f8f8f8;
  color: black;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #eeeeee;
}

/* CSS for filter section */
.filter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-section h2 {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.filter-section form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.filter-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-section input[type="text"] {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.filter-section form #input_div{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.filter-section #input_type{
  width: 40%;
  height: 30px;
}

.filter-section #input_value{
  width: 60%;
}

.filter-section button[type="submit"] {
  padding: 0.5rem;
  background-color: #f8f8f8;
  color: black;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.filter-section button[type="submit"]:hover {
  background-color: #eeeeee;
}


.filter-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-section li {
  width: 300px;
  border: 1px solid #eeeeee;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-section h3 {
  margin-bottom: 10px;
}

.filter-section p {
  margin-bottom: 5px;
}

.filter-section p:last-child {
  margin-bottom: 0;
}

/* Style the footer */
footer {
  margin-top: auto;
  text-align: center;
  background-color: #f8f8f8;
  padding: 1rem;
}

footer p {
  font-size: 14px;
  color: #777;
}

.popup {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: black;
  color: #f8f8f8;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
